* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

header img {
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: rgb(133, 4, 4);
}

h2 {
    font-size: 2vw;
    padding: 2vw 5vw;
    color: rgb(133, 4, 4);
}

nav {
    background-color: rgb(133, 4, 4);
    position: sticky;
    top: 0;
    z-index: 3;
    font-family: "Noto Serif";
    color: white;
    padding: 1vw;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    padding: 5vw;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
}

.dish-picture {
    width: 25vw;
    height: 30vh;
    object-fit: cover;
    align-self: center;
}

h4 {
    font-size: 25px;
    font-family: "Arvo", sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2vw;
    gap: 1vw
}

main button {
    background-color: rgb(133, 4, 4);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    width: 40%;
    border: solid rgb(133, 4, 4) 10px;
    box-shadow: 10px 5px 5px black;
    align-self:center;
}

footer {
    background-color: rgb(133, 4, 4);
    color: white;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    font-family: "Noto Serif";
}