* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    background-color: rgb(133, 4, 4);
}

header img {
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #FAB41A;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 2vw;
    padding: 2vw 5vw;
}

nav {
    background-color: rgb(133, 4, 4);
    position: sticky;
    top: 0;
    z-index: 3;
    font-family: "Noto Serif";
    color: white;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    padding: 5vw;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
}

.dish-picture {
    width: 25vw;
    height: 30vh;
    object-fit: cover;
    align-self: center;
}

h4 {
    font-size: 25px;
    font-family: "Arvo", sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2vw;
    gap: 1vw
}

main button {
    background-color: rgb(133, 4, 4);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    width: 40%;
    border: solid rgb(133, 4, 4) 10px;
    box-shadow: 10px 5px 5px black;
    align-self:center;
}

footer {
    background-color: rgb(133, 4, 4);
    color: white;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    font-family: "Noto Serif";
}

.box{
    color:white;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
  }
  
  .cart-count{
    position: absolute;
    background-color: #2f3542;
    top: -5px;
    right: 0;
    padding: 3px;
    height: 20px;
    width: 20px;
    line-height:20px ;
    border-radius: 50%;
    z-index: 99;
  }
  
  #cart-icon{
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 10px;
  }

  .cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    z-index: 100;
    color: black;
  }
  
  .cart-active{
    right:0;
    transition: 0.5s;
  }
  
  .cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom:20px ;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    
  }
  
  .cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
  }
  
  .cart-img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border:2px solid  rgba(0,0,0,0.1);
    padding: 5px;
  }
  .detail-box{
    display: grid;
    row-gap: 0.5rem;  
  }
  
  .price-box{
    display: flex;
      justify-content: space-between; 
  }
  
  .cart-food-title{
     font-size: 1rem;
     text-transform: uppercase;
     color:#ff6348;
     font-weight: 500;
  }
  
  .cart-price{
    font-weight: 500;
  }
  
  .cart-quantity{
    border:1px solid rgba(0,0,0,0.1);
    outline:none ;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
  }
  
  .cart-remove{
    font-size: 24px;
    color:red;
    cursor: pointer;
  }
  
  .total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }
  
  .total-title{
    font-size: 1rem;
    font-weight: 600;
  }
  
  .total-price{
    margin-left: 0.5rem;
  }
  
  .btn-buy{
    padding: 12px 20px;
    background-color:rgb(133, 4, 4);
    color:#fff;
    border: none;
    font-size: 1.5vw;
    font-weight: 500;
    cursor: pointer;
  }
  
  #cart-close{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
  }