* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    background-color: rgb(133, 4, 4);
}

header img {
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #FAB41A;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
    padding: 2vw 5vw;
}

nav {
    background-color: rgb(133, 4, 4);
    position: sticky;
    top: 0;
    z-index: 3;
    font-family: "Noto Serif";
    color: white;
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10vw;
    align-items: center;
    justify-items: center;
}

.color-mode {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.box{
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  top: -5px;
}

.cart-count{
  position: absolute;
  background-color: #2f3542;
  top: -5px;
  right: 0;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height:20px ;
  border-radius: 50%;
  z-index: 99;
}

#cart-icon{
  cursor: pointer;
  padding-top: 10px;
}

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
  color: black;
}

.cart-active{
  right:0;
  transition: 0.5s;
}

.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom:20px ;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.cart-img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border:2px solid  rgba(0,0,0,0.1);
  padding: 5px;
}

.detail-box{
  display: grid;
  row-gap: 0.5rem;  
}

.price-box{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.cart-food-title{
   font-size: 1rem;
   text-transform: uppercase;
   color:rgb(133, 4, 4);
   font-weight: 500;
}

.cart-quantity{
  border: 1px solid rgba(0,0,0,0.1);
  outline: none;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.btn-buy{
  padding: 12px 20px;
  background-color:rgb(133, 4, 4);
  color:#fff;
  border: none;
  font-size: 1.5vw;
  font-weight: 500;
  cursor: pointer;
}

#cart-close{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    padding: 5vw;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    background-color: white;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dish-picture {
    width: 25vw;
    height: 30vh;
    object-fit: cover;
    align-self: center;
}

h4 {
    font-size: 25px;
    font-family: "Arvo", sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2vw;
    gap: 1vw
}

main button {
    background-color: rgb(133, 4, 4);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    width: 40%;
    border: solid rgb(133, 4, 4) 10px;
    box-shadow: 10px 5px 5px black;
    align-self:center;
}

footer {
    background-color: rgb(133, 4, 4);
    color: white;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    font-family: "Noto Serif";
}

@media (max-width: 559px) {
  html {
    width: 100vw;
  }
  main {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-gap: 15px;
      margin: 5vw 6vw;
  }
  header img {
    height: 60vh;
      }
  h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 560px) and (max-width: 1023px) {

  header img {
height: 60vh;
  }
  h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 40px;
  }
}